.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  overflow: hidden;
}

.cartComp__wrapper {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: 1s;
}

.cartComp__hidden {
  max-width: 0px;
}

.hiddenCartComp {
  transform: translateX(+100%);
}

.activeCartComp {
  transform: translateX(0%);
}
.cartComp {
  transition: 0.5s;
}
.hideButton {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}

.products {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 300px 300px 300px 300px;
  gap: 91px 20px;
  margin: 50px 50px;
  width: 100%;
  justify-content: space-between;
}
/*  */
.productItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border-bottom: 1px solid black; */
  /* box-shadow: inset -1px 0px 66px 17px rgba(222, 180, 222, 1); */
}

.productItemWrp {
  height: 350px;
  max-height: 500px;
  border: 1px solid;
  margin: 20px;
  transition: 1s;
  overflow: hidden;
}

/* .productItemWrp:hover { */
/* transform: scale(1.1); */
/* box-shadow: inset 0px 0px 0px 0px rgba(222, 180, 222, 1); */
/* margin: 25px 30px 50px; */
/* } */

.productTitle {
  margin: 0 5px;
  font-weight: 600;
  font-size: 20px;
}

.productPrice {
  margin: 5px;
}

/*  */
/* .productBtn { */
/* margin: 10px; */
/* } */

.productImg {
  margin: auto;
  width: 100%;
  border-bottom: 1px solid black;
  height: 240px;
}
